extends layout

block content
  .card.border-success.mb-3
    h1.card-header #{title}
    h5.card-header.text-muted Control Panel for managing registration details!!! Click to modify students registration details.
    ul.list-group
      each article, i in articles
        li.list-group-item.blockquote
          a(href="/students/"+article._id)= article.title
