extends layout

block content
  .card.border-success.mb-3
    h1.card-header Admin Login
    form(method='POST', action='/users/login')
      #form-group
        label.card-body.text-info.blockquote Username:
        input.form-control-lg(name='username',type='text')
      #form-group
        label.card-body.text-info.blockquote Password:
        input.form-control-lg(name='password',type='password')
      br
      input.btn-lg.btn-success.btn-block(type='submit',value='Submit')
