extends layout

block content
  .card.border-success.mb-3
    h1.card-header Register
    form(method='POST', action='/users/register')
      #form-group
        label.card-body.text-info.blockquote Name:
        input.form-control-lg(name='name', type='text')
      #form-group
        label.card-body.text-info.blockquote Email:
        input.form-control-lg(name='email', type='text')
      #form-group
        label.card-body.text-info.blockquote Username:
        input.form-control-lg(name='username',type='text')
      #form-group
        label.card-body.text-info.blockquote Password:
        input.form-control-lg(name='password',type='password')
      #form-group
        label.card-body.text-info.blockquote Confirm:
        input.form-control-lg(name='password2',type='password')
      br
      input.btn-lg.btn-success.btn-block(type='submit',value='Submit')
